<% if @meeting.size > 0 %>

	<% @meeting.each do |f| %>
	 <tr class="<%= cycle("branca", "cinza") -%>">
		<td width='25%' align='center'><%= f.timetable %></td>
		<td width='75%'><%= f.description %></td>
	</tr>
	<% end %>
<% else %>
	<tr>
		<td align='center'>Nenhuma atividade cadastrada.</td>
	</tr>
<% end %>