<!-- TITLE -->
<% content_for :title do %> Atualizar interessados - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<h1>Editar Interessado - <%= @interested.name %></h1>

<%= render 'form' %>