<!-- TITLE -->
<% content_for :title do %> Novo interessado - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<!-- MENU -->
<% content_for :menu do %> <%= render 'menu' %> <% end %>
<!-- / MENU -->

<h1>Novo interessado</h1>

<%= render 'form' %>