<!-- TITLE -->
<% content_for :title do %> Atualizar turma - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<!-- MENU -->
<% content_for :menu do %> <%= render 'menu' %> <% end %>
<!-- / MENU -->

<h1>Editar turma - <%= @team.name %></h1>

<%= render 'form' %>