<!-- TITLE -->
<% content_for :title do %> <%= @student.name %> - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<h1>Informações do Aluno</h1>

<ul>
	
</ul>

<ul>
	<li><%= link_to "Voltar", students_path, :class => "btEnviarForm" %></li>
</ul>