<!DOCTYPE html>
<html>
  <head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>GVAR! Alteração de senha</h1>
    <p>
      <%= @usuario %> sua senha foi alterada para <b><%= @senha %></b>
    </p>
    <p>
      Por favor altere essa senha por segurança.<br />
      www.gvar1.webbyapp.com
    </p>
    <p>
      GVAR!, tenha um ótimo dia. E obrigado pelos peixes
    </p>
  </body>
</html>
