<!DOCTYPE html>
<html>
  <head>
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>GVAR! Alteração de senha</h1>
    <p>
      <%= @usuario %> para alterar sua senha
      <a href="<%= @url_password %>" target="_blank"> clique aqui! </a>
    </p>
    <p>
      Por favor altere essa senha por segurança.<br />
      <a href="<%= @url %>" target="_blank">GVAR</a>
    </p>
    <p>
      GVAR!, tenha um ótimo dia. E obrigado pelos peixes
    </p>
  </body>
</html>
