<%= form_for @registration do |r| %>

<% if @registration.errors.any? %>
    <div id="error_explanation">
      <ul class="error">
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul>
    <li class="btEnviarForm">
    	<%= r.submit %>
    </li>
<% end %>