<!-- TITLE -->
<% content_for :title do %> Agendar Serviço - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<div class="servicos">
	<h1>Agendar Serviço</h1>

	<%= render 'form' %>
</div>
