<!-- TITLE -->
<% content_for :title do %> Novo Cliente - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<div class="servicos">
	<h1>Novo cliente</h1>

	<%= render 'form' %>
</div>