<!-- TITLE -->
<% content_for :title do %> Atualizar curso - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<div class="cursos">
	<h1>Editar curso - <%= @course.name %></h1>

	<%= render 'form' %>
</div>