/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
*{
	border:0px;
	margin:0px;
	padding:0px;
	outline:0;
        font-family:Arial;
}

body{
	background:#dedede;
}

ul, ul li{ list-style-type:none; }

iframe{
    display:none!important;
}

#geralLogin{
	float:left;
	width:100%;
	/*position:relative;*/
	background:#dedede;
}

/* PADROES */
#contentInternas a.btEnviarForm,
#contentInternas .btEnviarForm input,
#contentInternas a#btEnviarForm,
#contentInternas #btEnviarForm input{
    float:left;
    padding:4px 10px;
    background:#24c803;
    border:1px solid #1a9203;
    color:#fff;
    text-decoration:none;
}

#contentInternas .btVoltarForm,
#contentInternas #btVoltarForm{
    float:left;
    padding:4px 10px;
    background:#ffd801;
    border:1px solid #b39800;
    display:inline;
    margin:0px 5px;
    text-decoration:none;
    font-size:13px;
    color:#000;
}

#contentInternas .btVoltarExcluirForm,
#contentInternas #btVoltarExcluirForm{
    float:left;
    padding:4px 10px;
    background:#f30808;
    border:1px solid #a50808;
    display:inline;
    margin:0px 5px;
    text-decoration:none;
    font-size:13px;
    color:#fff;
}


#contentInternas .btEditarForm,
#contentInternas #btEditarForm{
    float:left;
    padding:4px 10px;
    background:#150278;
    border:1px solid #0e0345;
    display:inline;
    margin:0px 5px;
    text-decoration:none;
    font-size:13px;
    color:#fff;
}
/* / PADROES */

#geralLogin #centralizaLogin{
	width:364px;
	margin:0 auto;
}

#geralLogin #centralizaLogin #logoLogin{
	float:left;
	position:relative;
	left:50%;
	display:inline;
	margin-left:-68px;
	padding:79px 0px 20px 0px;
}

#geralLogin #centralizaLogin #boxLogin{
	float:left;
	width:314px;
	height:234px;	
	background: url('box-login.png') no-repeat 0px 0px;
	padding:60px 0px 0px 50px;
}

#geralLogin #centralizaLogin #boxLogin ul{
	width:100%;
	float:left;
}
#geralLogin #centralizaLogin #boxLogin ul li{
	width:258px;
	float:left;
	padding:0px 0px 5px 0px;
}
#geralLogin #centralizaLogin #boxLogin ul li input.inputLogin{
	float:left;
	width:230px;
	padding:10px 10px 10px 18px;
	border:1px solid #ccc;
}
#geralLogin #centralizaLogin #boxLogin ul li#btLogin input{
	float:right;
	text-indent:-5000px;
	width:82px;
	height:30px;
	background:url('bt-entrar.gif') no-repeat 0px 0px;
}

#geralLogin #centralizaLogin #boxLogin ul li#btLogin a{ float:right; }

/* MENU OPCOES */
#geralLogin #centralizaLogin.opcoes{ width:642px; }

#contentInternas .wrapperInternas #opcoesLogin{
	float:left;
	padding:10px 0px 0px 0px;
}

#contentInternas .wrapperInternas #opcoesLogin ul{
    float:left;
    width:640px;
}

#contentInternas .wrapperInternas #opcoesLogin ul li{
	float:left;
        width:150px;
	padding:0px 5px;
}
.warning  {
	color: red;
	font-size: 9px;
	text-align:center;
}

#preHeader{
	float:left;
	width:100%;
	background:#ccc;
}

#preHeader #header{
	float: left;
	position: relative;
	left: 60%;
	width: 300px;
	padding:10px 0px;
	background:#ccc;
}

#preHeader #header a{
	float:left;
display:inline;
margin:0px 10px;
}

#bodyInternas{
    background-image:url('bg-topo.gif');
    background-repeat:repeat-x;
}

.wrapperInternas{
    width:950px;
    margin:0 auto;
}

#headerInternas{
    float:left;
    width:100%;
    height:105px;
}

#headerInternas #logoInternas{
    float:left;
    padding:15px 0px 0px 25px;
}

#headerInternas #menuInternas{
    float:left;
    background:url("bg-menu-topo.gif") no-repeat 0px 0px;
    width:200px;
    height:31px;
    display:inline;
    margin:23px 0px 0px 38px;
}

#headerInternas #menuInternas ul{
    float:left;
    padding:2px 0px 0px 10px; 
}

#headerInternas #menuInternas ul li{
    float:left;
    padding:0px 2px 0px 0px;
}

#headerInternas #menuInternas ul li a{
    float:left;
    width:34px;
    height:27px;
    text-align:center;
}

#headerInternas #menuInternas ul li a#home{ background:url("bt_home_cinza.png") no-repeat center center; }
#headerInternas #menuInternas ul li a#home.marcado,
#headerInternas #menuInternas ul li a#home:hover{ background:#aaaaab url("bt_home_branco.png") no-repeat center center; }

#headerInternas #menuInternas ul li a#cursos{ background:url("bt_cursos_cinza.png") no-repeat center center; }
#headerInternas #menuInternas ul li a#cursos.marcado,
#headerInternas #menuInternas ul li a#cursos:hover{ background:#00689b url("bt_cursos_branco.png") no-repeat center center; }

#headerInternas #menuInternas ul li a#servicos{ background:url("bt_servicos_cinza.png") no-repeat center center; }
#headerInternas #menuInternas ul li a#servicos.marcado,
#headerInternas #menuInternas ul li a#servicos:hover{ background:#9c0003 url("bt_servicos_branco.png") no-repeat center center; }

#headerInternas #menuInternas ul li a#assessoria{ background:url("bt_assessoria_cinza.png") no-repeat center center; }
#headerInternas #menuInternas ul li a#assessoria.marcado,
#headerInternas #menuInternas ul li a#assessoria:hover{ background:#ff3b01 url("bt_assessoria_branco.png") no-repeat center center; }

#headerInternas #menuInternas ul li a#financeiro{ background:url("bt_financeiro_cinza.png") no-repeat center center; }
#headerInternas #menuInternas ul li a#financeiro.marcado,
#headerInternas #menuInternas ul li a#financeiro:hover{ background:#007200 url("bt_financeiro_branco.png") no-repeat center center; }

#headerInternas #guardaCampoBusca{
    float:left;
    padding:23px 0px 0px 16px;
}

#headerInternas #guardaCampoBusca input#btPesquisar{
    float:left;
    width:66px;
    height:27px;
    background:#2394cc;
    border:1px solid #dadada;
    color:#fff;
    display:inline;
    margin:0px 4px 0px 4px;
    font-size:11px;
}

#headerInternas #guardaCampoBusca input#inputBuscas{
    float:left;
    border:1px solid #dadada;
    width:273px;
    background:#fff;
    padding:5px 5px 5px 5px;
    color:#aaaaab;
    font-size:13px;
}

#headerInternas #guardaNomeUsuario{
    float:right;
    position:relative;
    padding:25px 0px 0px 0px;
}

#headerInternas #guardaNomeUsuario #escondido{
    float:left;
    position:absolute;
    top:40px;
    left:38px;
    background:#8cb1c3;
    border:1px solid #004263;
    display:none;
}

#headerInternas #guardaNomeUsuario #escondido ul{
    float:left;
    width:170px;
}

#headerInternas #guardaNomeUsuario #escondido ul li{
    float:left;
}

#headerInternas #guardaNomeUsuario #escondido ul li a{
    float:left;
    width:150px;
    padding:5px 10px;
    color:#eee;
    text-decoration:none;
    font-size:12px;
}

#headerInternas #guardaNomeUsuario #escondido ul li a:hover{
    background:#bbe7fd;
    color:#000;
}

#headerInternas #guardaNomeUsuario p{
    float:right;
    font-size:12px;
}

#headerInternas #guardaNomeUsuario p span{
    float:left;
}

#headerInternas #guardaNomeUsuario p span,
#headerInternas #guardaNomeUsuario p span a{
    color:#000;
    text-decoration:none;
}

#headerInternas #guardaNomeUsuario p span a#btConfig{
    position:relative;
    top:-4px;
}

#headerInternas #guardaNomeUsuario p span.soPadding{
    width:1px;
    background:#000;
    display:inline;
    margin:0px 5px;
    padding:8px 0px;
}

#headerInternas #guardaMenuCategoria{
    float:left;
    width:100%;
    text-align:center;
    padding:13px 0px 0px 0px;
}

#headerInternas #guardaMenuCategoria p a,
#headerInternas #guardaMenuCategoria p{
    color:#000;
    text-decoration:none;
    font-size:16px;
}

/*
    CONTENT
*/
#contentInternas{
    float:left;
    width:100%;
    padding:20px 0px 0px 0px;
}

#contentInternas #guardaPesquisa{
    float:left;
    width:550px;
}

#contentInternas h1{
    float:left;
    width:550px;
    padding:0px 0px 40px 0px;
}

#contentInternas ul{
    float:left;
    width:520px;
}

#contentInternas ul li{
    float:left;
    width:100%;
    padding:0px 0px 20px 0px;
}

#contentInternas ul li .input{
    float:left;
    border:1px solid #ccc;
    padding:5px 10px;
}

#contentInternas ul li .select{
    float:left;
    border:1px solid #ccc;
    padding:5px 5px;
}

#contentInternas ul li .textarea{
    float:left;
    border:1px solid #ccc;
    height:100px;
    padding:5px 5px;
}

#contentInternas ul li .inputPeq{ width:150px; }
#contentInternas ul li .inputMedio{ width:250px; }
#contentInternas ul li .inputGde{ width:500px; }

#contentInternas ul li .selectPeq{ width:160px; }
#contentInternas ul li .selectMedio{ width:260px; }
#contentInternas ul li .selectGde{ width:510px; }

#contentInternas ul li .textareaPeq{ width:150px; }
#contentInternas ul li .textareaMedio{ width:250px; }
#contentInternas ul li .textareaGde{ width:500px; }

#contentInternas ul li #guardaCheckbox{
    float:left;
    width:100%;
}

#contentInternas ul li #guardaCheckbox label{
    float:left;
    width:100%;
    display:inline;
    margin:0px 0px 2px 0px;
}

#contentInternas ul li #guardaCheckbox label span{
    text-transform: capitalize;
}

#contentInternas .noPaddingHomes{ padding-bottom:5px; }

#contentInternas .liPesquisaAvancada{ padding-left:316px; }

#contentInternas .pesquisaAvancada{
    float:left;
    font-size:12px;
    display:inline;
    margin:5px 10px 0px 0px;
    text-decoration:none;
    color:#150278;
}

#contentInternas #guardaAtividadesRecentes{
    float:right;
    width:340px;
    position:relative;
    top:-60px;
    border-left:2px solid #ccc;
    padding:0px 0px 10px 30px;
    height:180px;
    overflow:hidden;
}

#contentInternas #guardaAtividadesRecentes h2{
    float:left;
    width:340px;
    padding:0px 0px 20px 0px;
}

#contentInternas #guardaAtividadesRecentes p{
    float:left;
    width:300px;
    padding:0px 0px 10px 0px;
    font-size:14px;
}

#contentInternas #guardaAtividadesRecentes p span{ float:left; }

#contentInternas #guardaAtividadesRecentes p a{ float:right; }

#contentInternas #guardaResultadoPesquisa{
    float:left;
    width:100%;
    display:none;
}

#contentInternas #guardaResultadoPesquisa.parcelas{
    display:block;
}

#contentInternas #guardaResultadoPesquisa h2{
    float:left;
    padding:0px 0px 10px 0px;
}

#contentInternas #guardaResultadoPesquisa table{
    float:left;
    width:100%;
    border:1px solid #008d9e;
}

#contentInternas #guardaResultadoPesquisa table th{
    background:#00cde5;
    padding:5px 0px;
}

#contentInternas #guardaResultadoPesquisa table tr td{
    text-align:left;
    padding:5px 0px;
    border-top:1px solid #008d9e;
}

#contentInternas #guardaResultadoPesquisa table span{
    float:left;
    padding:3px 0px 3px 5px;
}

#contentInternas #guardaResultadoPesquisa table span.centralizaBts{
    padding-left:50px;
}

#contentInternas .escondidoPesquisaAvancada{ display:none; }