<div id="guardaResultadoPesquisa">
  <h2>Resultado da pesquisa</h2>
  <p><br/>
    <%= t("mensagens.msg0004") %>
  </p>
</div>
<script type="text/javascript">
  if(location.href.split("?")[1]){
    $("#guardaResultadoPesquisa").slideDown(500);
  }
</script>
